{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block more_top %}<link rel = "stylesheet" href = "/assets/css/news.css">{% endblock %}
{% block content %}
<h3 class = "title is-3">{{ title }}</h3>
<h5 class = "subtitle is-5">Written by <a href = "/news/authors/{{ author.username }}/">{{ author.username }}</a> at {{ date_made }} EST.</h5>
<br/>
{% if tags|length > 0 %}
<div class="buttons are-small">
    {% for tag in tags %}
    <a href = "/news/tags/{{ tag.name }}/" class = "button is-info is-small news-tag">{{ tag.name }}</a>
    {% endfor %}
</div>
{% else %}
<p class = "fs09rem is-italic">This article isn't tagged with anything yet... :(</p>
<br/>
{% endif %}
{% for paragraph in paragraphs %}
<p>{{ paragraph }}</p>
<br/>
{% endfor %}
<h5 class = "subtitle is-5"><a href = "/news/">Back to News</a></h5>
{% endblock %}
