{% extends "base.html" %}
{% block title %}Articles by {{ author.username }}{% endblock %}
{% block more_top %}<link rel = "stylesheet" href = "/assets/css/news.css">{% endblock %}
{% block content %}
<h3 class = "title is-3">Articles by {{ author.username }}</h3>
<br/>
{% for article_list in article_lists %}
<h5 class = "subtitle is-5"><a href = "/news/articles/{{ article_list[2] }}/">{{ article_list[0] }}</a></h5>
<p>Written {{ est_date(article_list[1]) }}.</p>
<br/>
{% endfor %}
<h5 class = "subtitle is-5"><a href = "/news/">Back to News</a></h5>
{% endblock %}