{% extends "base.html" %}
{% block title %}Writing Article{% endblock %}
{% block content %}
<h3 class = "title is-3">Writing Article</h3>
<h5 class = "subtitle is-5"><a href = "/news/">News Home</a> | <a href = "/news/editor/">Editor</a></h5>
<br/>
<form method = "POST" action = "/news/forms/create-article/" id = "createNewsArticleForm" onsubmit = "if (createNewsArticleSubmitted) { return false; } else { if (createNewsArticleCheck()) { createNewsArticleSubmitted = true; return true; } else { return false; } }"></form>
<p>Give your article a name. Keep in mind this will be used with URLs.</p>
<input class = "input" type = "text" name = "name" form = "createNewsArticleForm">
<p>Write the article below.</p>
<textarea class = "textarea" placeholder = "!!!!" rows = "24" name = "article" form = "createNewsArticleForm"></textarea>
<br/>
<div class = "buttons">
    <script>var createNewsArticleSubmitted = false;</script>
    <button class = "button is-success" type = "submit" form = "createNewsArticleForm">Create</button>
</div>
{% endblock %}