<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<meta http-equiv = "cache-control" content = "no-cache">
		<title>{% block title %}Anaximander{% endblock %}</title>
		<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"/>
		<link rel = "stylesheet" href = "/assets/css/main.css">
		<link rel = "stylesheet" href = "/assets/css/modals.css">
		{% block more_top %}{% endblock %}
	</head>
	<body>
	    {% block user_info %}
    	    <h5 class = "subtitle is-5 topRightUserInfoH5">
    	    {% if current_user.is_authenticated %}
    	        Logged in as <a href = "/users/{{ current_user.username }}/">{{ current_user.username }}</a>. <a href = "/auth/logout/">Logout</a>
    	    {% else %}
    	        Not Logged in. <a href = "/auth/login/">Login</a>
    	    {% endif %}
    	    </h5>
	    {% endblock %}
	    {% block modals %}{% endblock %}
		{% block content %}{% endblock %}
		<script src = "/assets/js/checks.js"></script>
		<script src = "/assets/js/modals.js"></script>
		<script src = "/assets/js/utils.js"></script>
		<script src = "https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id = "MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
		{% block more_bottom %}{% endblock %}
	</body>
</html>