{% extends "base.html" %}
{% block title %}Creating Article - {{ wiki.full }}{% endblock %}
{% block content %}
<h3 class = "title is-3">Creating Article - {{ wiki.full }}</h3>
<h5 class = "subtitle is-5">{{ wiki.description }} - <a href = "/wikis/{{ wiki.name }}/">Wiki Home</a></h5>
<br/>
{% if preview %}
<p>Previewing edits.</p>
<hr>
{% if redirect_target %}
<p>This page will redirect to <a href = "{{ home_url }}/articles/{{ redirect_target }}/">{{ redirect_target }}.</a></p>
{% else %}
{{ article_html|safe }}
{% endif %}
<hr>
<p>Edit summary : <a href = "/users/{{ current_user.username }}/">{{ current_user.username }}</a> - {{ desc }}</p>
<hr>
{% endif %}
<form method = "POST" action = "/wikis/{{ wiki.name }}/forms/create-article/" id = "createArticleForm" onsubmit = "if (createArticleSubmitted) { return false; } else { if (createArticleCheck()) { createArticleSubmitted = true; return true; } else { return false; } }"></form>
<p>Give your article a name. Keep in mind this will be used with URLs.</p>
<input class = "input" type = "text" name = "name" maxlength = "80" pattern = "^([ ]?[a-zA-Z0-9().,!~*'\-[\]{}])+$" id = "createArticleName" form = "createArticleForm"{% if article_name is defined %} value = "{{ article_name }}"{% endif %}>
<p>Write the article below. Click the "Preview" and "Changes" buttons to check your progress, and hit "Create" when you are finished.</p>
<textarea class = "textarea wiki-text-box" placeholder = "Don't be shy, you got this!" rows = "23" name = "article" form = "createArticleForm" id = "createArticleBody">{% if preview %}{{ article_text }}{% endif %}</textarea>
<p>(Optional) Provide a description of your edit.</p>
<input class = "input" type = "text" name = "desc" maxlength = "256" form = "createArticleForm"{% if desc %} value = "{{ desc }}"{% endif %}>
<br/><br/>
<div class = "buttons">
    <script>var createArticleSubmitted = false;</script>
    <button class = "button is-success" type = "submit" form = "createArticleForm">Create</button>
    <button class = "button is-info" onclick = "previewEdit('createArticleForm');">Preview</button>
    <button class = "button is-warning">Changes</button>
</div>
<h3 class = "subtitle is-5"><a href = "/">Home</a></h3>
{% endblock %}