{% extends "base.html" %}
{% block modals %}
<div class = "modal mft" id = "addWikiModal">
    <div class="modal-background" onclick = "deactivateModal('addWikiModal');"></div>
    <div class="modal-card" style = "width : 80%;">
        <header class="modal-card-head">
            <p class="modal-card-title">Create Wiki</p>
            <button class="delete" aria-label="close" onclick = "deactivateModal('addWikiModal');"></button>
        </header>
        <section class="modal-card-body">
            <script>var addWikiSubmitted = false;</script>
            <form id = "addWikiForm" action = "/forms/add-wiki/" method = "POST" onsubmit = "if (addWikiSubmitted) { return false; } else { if (addWikiCheck()) { addWikiSubmitted = true; return true; } else { return false; } }"></form>
            <table class = "table is-striped is-fullwidth">
                <tbody>
                    <tr>
                        <td>Short Name</td>
                        <td><input name = "name" type = "text" class = "input" maxlength = "80" pattern = "^[a-z0-9\-_]+$" required = "required" form = "addWikiForm" placeholder = 'Short Name, will show up in urls. e.g, "cats".'></td>
                    </tr>
                    <tr>
                        <td>Full Name</td>
                        <td><input name = "full" type = "text" class = "input" maxlength = "80" required = "required" form = "addWikiForm" placeholder = 'Full Name - e.g, "Cats: The Musical".'></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><input name = "desc" type = "text" class = "input" maxlength = "200" form = "addWikiForm" placeholder = 'Wiki Description. e.g, "A wiki about Cats: The Musical, its derivatives, as well as its resounding cultural impact.".'></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <footer class="modal-card-foot">
            <button class = "button is-success" type = "submit" form = "addWikiForm">Submit</button>
            <button class = "button is-danger" type = "reset" form = "addWikiForm">Cancel</button>
        </footer>
    </div>
</div>
{% endblock %}
{% block content %}
<h3 class = "title is-3">Welcome to Anaximander!</h3>
<h5 class = "subtitle is-5">An online platform to create collaborative and informative wikis.</h5>
<p><a href = "/news/">News</a></p>
<h5 class = "subtitle is-5">Wiki List</h5>
<table class = "table is-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Privacy</th>
            <th>Clearance</th>
        </tr>
    </thead>
    <tbody>
        {% for wiki in wikis %}
        <tr>
            <td><a href = "/wikis/{{ wiki.name }}/">{{ wiki.full }}</a></td>
            <td>{{ wiki.description }}</td>
            <td>{{ wiki.privacy_level_name() }}</td>
            <td>{% if wiki_clearances[wiki.id] == -1 %}Non-member{% else %}{{ wiki_clearances[wiki.id] }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button class = "button is-primary" onclick = "activateModal('addWikiModal');">Create Wiki</button>
{% endblock %}